<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
<div class="row">
    <div class="box box-aqua">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Question List</h3>
      </div>

      <div *ngFor="let question of questions" class="box-body">
        <ul class="todo-list ui-sortable">
          <li>
            <table class="table">
              <tr>
                <td class="text col-sm-3">{{question.name}}</td>
                <td class="text col-sm">{{question.questionBody}}</td>
                <td>
                  <div class="tools">
                    <i class="fa fa-edit" (click)="onOpenModal('edit', question)" style="padding-right: 0.5rem"></i>
                    <i class="fa fa-trash-o" (click)="onOpenModal('delete', question)"></i>
                  </div>
                </td>              
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="box-footer clearfix no-border">
      <button type="button" class="btn btn-default pull-right" (click)="onOpenModal('add', undefined)"><i class="fa fa-plus"></i> Add Question</button>
      </div>
    </div>   
</div>
</div>

<!--Add Question Modal-->
<div class="modal fade in" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuestionModalLabel">Add Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddQuestion(addForm)">
              <div class="form-group">
                <label for="questionName">Question name</label>
                <input type="text" ngModel name="name" class="form-control" id="questionName" aria-describedby="nameHelp" placeholder="Enter name" required>
                <label for="questionBody">Question body</label>
                <input type="text" ngModel name="questionBody" class="form-control" id="questionBody" aria-describedby="nameHelp" placeholder="Enter question body" required>
              </div>
              <div class="modal-footer">
                  <button type="button" id="add-question-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
  </div>
</div>

<!-- Delete Modal --> 
<div class="modal fade in" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Question</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete question {{deleteQuestion?.name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteQuestion(deleteQuestion?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade in" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="EditQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editQuestionModalLabel">Edit Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
              <div class="form-group">
                <label for="InputQuestionName">Question name</label>
                <input type="text" ngModel="{{editQuestion?.name}}" name="name" class="form-control" id="InputQuestionName" aria-describedby="nameHelp" placeholder="Enter question name">
                <label for="InputQuestionBody">Question Body</label>
                <input type="text" ngModel="{{editQuestion?.questionBody}}" name="questionBody" class="form-control" id="InputQuestionBody">
              </div>
              <input type="hidden" ngModel="{{editQuestion?.id}}" name="id" class="form-control" id="InputQuestionId">
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button (click)="onUpdateQuestion(editForm.value)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
          </form>
        </div>
      </div>
  </div>
</div>