<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="box box-aqua">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Zoznam otázok</h3>
      </div>
      <div *ngFor="let question of questions" class="box-body">
        <ul class="todo-list ui-sortable">
          <li>
            <table class="table">
              <tr>
                <td class="text col-sm-3" routerLink="/questions/{{question.id}}">{{question.name}}</td>
                <td class="text col-sm-3">{{question.questionBody}}</td>
                <td class="text col-sm-3">{{question.questionType}}</td>
                <td>
                  <div class="tools">
                    <i class="fa fa-edit" (click)="onOpenModal('edit', question)" style="padding-right: 0.5rem"></i>
                    <i class="fa fa-trash-o" (click)="onOpenModal('delete', question)"></i>
                    <i *ngIf="question.questionType == 'MULTIPLECHOICE'" class="fa fa-plus" (click)="onOpenModal('addOption', question)" id="addOption"> Pridať možnosti </i>
                  </div>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="box-footer clearfix no-border">
        <button type="button" class="btn btn-default pull-right" (click)="onOpenModal('add', undefined)"><i class="fa fa-plus"></i> Pridať otázku</button>
      </div>
    </div>
</div>
</div>
<!--Add Question Modal-->
<div class="modal fade in" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuestionModalLabel">Pridať otázku</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddQuestion(addForm)">
              <div class="form-group">
                <label for="questionName">Názov otázky</label>
                <input type="text" ngModel name="name" class="form-control" id="questionName" aria-describedby="nameHelp" placeholder="Zadať názov" required>
                <label for="questionBody">Telo otázky</label>
                <input type="text" ngModel name="questionBody" class="form-control" id="questionBody" aria-describedby="nameHelp" placeholder="Zadať telo otázky" required>
                <div class="form-group">
                  <label for="questionTypeDropdown">Vybrať typ otázky:</label>
                  <select ngModel name="questionType" id="questionTypeDropdown" class="form-control">
                    <option *ngFor="let option of questionTypes" [value]="option">{{ option }}</option>
                  </select>
                </div>
                <!--<input type="hidden" [(ngModel)]="selectedOption" name="questionType" class="form-control" id="questionType">-->
              </div>
              <div class="modal-footer">
                  <button type="button" id="add-question-form" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Potvrdiť</button>
              </div>
          </form>
        </div>
      </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade in" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Vymazať otázku</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Určite chcete vymazať otázku {{deleteQuestion?.name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
              <button (click)="onDeleteQuestion(deleteQuestion?.id)" class="btn btn-danger" data-dismiss="modal">Áno</button>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade in" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="EditQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editQuestionModalLabel">Upraviť otázku</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
              <div class="form-group">
                <label for="InputQuestionName">Názov otázky</label>
                <input type="text" ngModel="{{editQuestion?.name}}" name="name" class="form-control" id="InputQuestionName" aria-describedby="nameHelp" placeholder="Enter question name">
                <label for="InputQuestionBody">Telo otázky</label>
                <input type="text" ngModel="{{editQuestion?.questionBody}}" name="questionBody" class="form-control" id="InputQuestionBody">
              </div>
              <input type="hidden" ngModel="{{editQuestion?.id}}" name="id" class="form-control" id="InputQuestionId">
            <div class="form-group">
              <label for="editQuestionTypeDropdown">Vybrať typ otázky:</label>
              <select ngModel="{{editQuestion?.questionType}}" name="questionType" id="editQuestionTypeDropdown" class="form-control">
                <option *ngFor="let option of questionTypes" [value]="option">{{ option }}</option>
              </select>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
                  <button (click)="onUpdateQuestion(editForm.value)" type="submit" class="btn btn-primary" data-dismiss="modal">Uložiť zmeny</button>
              </div>
          </form>
        </div>
      </div>
  </div>
</div>

<div class="modal fade in" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="OptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OptionModalLabel">Pridať možnosti</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #optionForm="ngForm" class="form-group" >
          <div *ngFor="let item of items; let i = index;">
            <input name="optionBody{{i}}" [(ngModel)]="item.optionBody" class="form-control" required>
            <button type="button" (click)="removeItem(i)" class="form-control">Odstrániť</button>
          </div>
          <button type="button" (click)="addItem(this.questionToAddOptions)" class="form-control">Pridať</button>
          <br>
          <br>
          <!--<button type="submit" class="form-control">Submit</button>-->

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
            <button (click)="onAnswerOptionSubmit(optionForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Uložiť možnosti</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

