
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="box box-aqua">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Question List</h3>
      </div>

      <div *ngFor="let question of questions" class="box-body">
        <ul class="todo-list ui-sortable">
          <li>
            <table class="table">
              <tr>
                <li><td class="text col-sm-3">{{question.name}}</td></li>
                <td class="text col-sm">{{question.questionBody}}</td>
                <td>
                    <div class="tools">
                        <i class="fa fa-plus" (click)="setQuestionForLesson(question)" routerLink="/subjects/{{this.subjectId}}/lessons/{{this.lesson?.id}}" style="padding-right: 0.5rem"></i>
                    </div>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="box-footer clearfix no-border">
        <button type="button" class="btn btn-default pull-right" routerLink="/subjects/{{this.subjectId}}/lessons/{{this.lesson?.id}}"><i class="fa fa-arrow-left"></i> Back</button>
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>
